<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600' rel='stylesheet' type='text/css'> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>d3site</title>

  <!-- Placeholder for page-level css includes -->
  {% block css_include %} {% endblock css_include %}
</head>

<body>
  <p>A very simple header.</p>
  <!-- Placeholder Page content -->
    <div>{% block content_container %} {% endblock content_container %}</div>
  <!-- End page content -->
</body>
</html>